<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>
    <form method="GET" action="http://localhost:8082/sumar">
        <table>
            <tr>
                <td>Número 1: </td>
                <td><input type="number" name="nro1" value="0" required></td>
            </tr>
            <tr>
                <td>Número 2: </td>
                <td><input type="number" name="nro2" value="0" required></td>
            </tr>
            <tr>
                <td><input type="reset" value="Borrar"></td>
                <td><input type="submit" value="Sumar"></td>
            </tr>
        </table>
    </form>
</body>
</html>